[submodule "vimfiles/pack/plugins/start/vim-airline"]
	path = vimfiles/pack/plugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vimfiles/pack/plugins/start/ctrlp.vim"]
	path = .vim/pack/plugins/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule ".vim/pack/plugins/start/odin.vim"]
	path = .vim/pack/plugins/start/odin.vim
	url = https://github.com/Tetralux/odin.vim.git
[submodule ".vim/pack/plugins/start/asyncrun.vim"]
	path = .vim/pack/plugins/start/asyncrun.vim
	url = https://github.com/skywind3000/asyncrun.vim.git
