# Ignore everything
*
*/

# But not these files...
!.gitignore
!.vimrc
!.gvimrc
!vimfiles
!vimfiles/*
!vimfiles/colors/*

# But definitely this one
vimfiles/.netrwhist

# ...even if they are in subdirectories
#!*/
