# Ignore everything
*
*/

# But not these files...
!.gitignore
!.vimrc
!.gvimrc
!vimfiles
!vimfiles/**
vimfiles/undo

# But definitely this one
vimfiles/.netrwhist

# ...even if they are in subdirectories
#!*/
